<!DOCTYPE html>
<html>

<head>
  <title>冷里农产品</title>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <!-- 导入jq插件 -->
  <script src="js/jquery.min.js"></script>
  <!-- 自定义主题文件 -->
  <!--theme-style-->
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!--//theme-style-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="描述" />
  <script type="application/x-javascript">
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
  </script>
  <!---->
  <script src="js/jquery.chocolat.js"></script>
  <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
  <!--vue-->
  <script src="js/vue.min.js"></script>
  <script src="js/dataChange.js"></script>
  <!--滚动条-->
  <script src="js/move-top.js"></script>
  <script src="js/easing.js"></script>
  <script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 1000);
    });
  });
  </script>
  <!--网页的一些效果-->
  <script src="js/effect.js"></script>
</head>

<body>
  <!--header-->
  <div class="header" id="header">
    <div class="container">
      <div class="logo">
        <h1>
          <a href="index.html">
            {{ title }}
          </a>
        </h1>
      </div>
      <div class="top-nav">
        <span class="menu">
          <img src="images/menu.png" alt="">
        </span>
        <ul>
          <li v-for="item in navList">
            <a :href="item.aHref" class="scroll">
              {{ item.content }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!---->
  </div>

  <div class="container" id="contentTop">
    <!--content-top-->
    <div class="content-top">
      <div class="content-top1">
        <div v-for="item in list" class="col-sm-4 grid-top">
          <div class="top-grid">
            <i class="glyphicon" v-bind:class="item.btnIcon">
            </i>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
          </div>
          <i class="arrow"></i>
          <i class="arrow2"></i>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!--//content-top-->
  </div>

  <!-- 关于开始 -->
  <div class="content-middle" id="about">
    <div class="container">
      <div class="content-mid">
        <h3>{{ title }}</h3>
        <label> </label>
        <p>{{ description }}</p>
      </div>
      <div class="content-mid2">
        <div class="col-sm-4 content-mid3" v-for="item in list">
          <img :src="item.imgSrc" :alt="item.title" class="img-responsive">
          <h5>{{ item.title }}</h5>
          <p>{{ item.description }}</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- 关于结束 -->

  <!-- 服务开始 -->
  <div class="content-bottom" id="services">
    <div class="container">
      <div class="services-top ">
        <h2>{{ title }}</h2>
        <label></label>
        <p>{{ description }}</p>
      </div>
      <div class="us-choose">
        <div class="col-md-6 why-choose" v-for="item in li1">
          <div class="ser-grid">
            <i class="glyphicon" v-bind:class="item.btnIcon">
            </i>
          </div>
          <div class="ser-top">
            <h5>{{ item.title }}</h5>
            <p>{{ item.description }}</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="us-choose">
        <div class="col-md-6 why-choose" v-for="item in li2">
          <div class="ser-grid">
            <i class="glyphicon" v-bind:class="item.btnIcon">
            </i>
          </div>
          <div class="ser-top">
            <h5>{{ item.title }}</h5>
            <p>{{ item.description }}</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- 服务结束 -->

  <!--gallery-starts-->
  <div class="gallery" id="gallery">
    <div class="gallery-top ">
      <h3>{{ title }}</h3>
      <label> </label>
    </div>
    <div class="gallery-bottom">
      <div class="gallery-grids">
        <div class="col-sm-3 gallery-left">
          <div class="g-1">
            <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img1">
              <img :src="img1" alt="" />
            </a>
          </div>
          <div class="g-2">
            <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img2">
              <img :src="img2" alt="" />
            </a>
          </div>
        </div>
        <div class="col-sm-6  gallery-left1">
          <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img3">
            <img :src="img3" alt="" />
          </a>
          <div class="g-5">
            <div class="col-sm-6 g-3">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img4">
                <img :src="img4" alt="" />
              </a>
            </div>
            <div class="col-sm-6 g-4">
              <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img5">
                <img :src="img5" alt="" />
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img6">
            <img :src="img6" alt="" />
          </a>
        </div>
        <div class="col-sm-3  gallery-left2">
          <div class="g-6">
            <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img7">
              <img :src="img7" alt="" />
            </a>
          </div>
          <div class="g-7">
            <a rel="title" class="b-link-stripe b-animate-go  thickbox" :href="img8">
              <img :src="img8" alt="" />
            </a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--gallery-end-->

  <!--features-starts-->
  <div class="features" id="features">
    <div class="container">
      <div class="features-top">
        <h3>{{ title }}</h3>
        <label></label>
        <p>{{ description }}</p>
      </div>
      <div class="features-bottom margin-bottom-20" v-for="(item, index) in bigLi">
        <div class="col-md-6 festure-left">
          <div class="f-left">
            <img class="img-responsive" :src="item.src" :alt="item.description">
          </div>
          <div class="f-right">
            <ul>
              <li v-for="description in item.smallLi">
                <a href="javascript:">
                  <i class="glyphicon glyphicon-ok"></i>
                  {{ description.content }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="index == 1" class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--features-end-->

  <!--team-->
  <div class="team" id="team">
    <div class="container">
      <div class="team-main">
        <div class="team-top">
          <h3>{{ title }}</h3>
          <label> </label>
        </div>
        <ul class="ch-grid">
          <li v-for="item in list">
            <a href="javascript:">
              <div class="ch-item" v-bind:style="{background: item.src}">
                <div class="ch-info">
                  <h3>{{ item.name }}</h3>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//team-->

  <!-- 联系我们 -->
  <div class="contact" id="contact">
    <div class="container">
      <div class="contact-top">
        <h3>{{ title }}</h3>
        <label></label>
        <p>{{ description }}</p>

      </div>
      <div class="col-md-8 contact-form">
        <form>
          <input name="name" type="text" placeholder="名字">
          <input name="email" type="text" placeholder="E-mail">
          <input name="tel" type="text" placeholder="电话">

          <textarea name="msg" placeholder="信息"></textarea>
          <input type="submit" value="发送">
        </form>

      </div>
      <div class="col-md-4 contact-para">
        <p>{{ content }}</p>
        <div class="address-more" v-for="item in list">
          <h4>{{ title }}</h4>
          <p>
            <b>{{ description }}</b>
          </p>
          <p>{{ content }}</p>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="footer">
      <div class="container">
        <div class="footer-bottom">
          <div class="col-sm-8 footer-menu">
            <ul>
              <li v-for="footNavItem in footNavLi">
                <a :href="footNavItem.aHref" class="scroll">
                  {{ footNavItem.content }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 footer-top1">
            <ul class="social">
              <li v-for="footFriendItem in footFriendLi">
                <a href="javascript:">
                  <i :class="footFriendItem.classIcon"> </i>
                </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="footer-top2">
          <p>版权 &copy 2017 冷里XXX公司 保留所有权</p>
        </div>

      </div>
      <script type="text/javascript">
      $(document).ready(function() {
        /*
    var defaults = {
        containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear' 
      };
    */

        $().UItoTop({
          easingType: 'easeOutQuart'
        });

      });
      </script>
      <a href="#" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
      </a>


    </div>
</body>

</html>
